*{
	padding: 0;
	margin: 0;
	font-family: Arial;
	color: white;
	font-weight: 700px;
	background-size: cover;
}
body{
	background-image: url('https://img.upanh.tv/2022/06/15/img1.jpg');
	background-size: cover;
}
/*open*/
.open{
	position: absolute;
	transform: translate(-50%,-50%);top: 50%;left: 50%;
	width: 50px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	border: 2px solid #06FF00;
	font-size: 20px;
}
/*pass*/
.formpass{
	position: absolute;
	transform: translate(-50%,-50%);
	top: -200%;
	left: 50%;
	width: 350px;
	height: 200px;
	border-radius: 10px;
	border: 2px solid #06FF00;
	background-color: rgba(0, 0, 0, 0.6);
}
.textp{
	position: absolute;
	transform: translate(-50%,-50%);
	left: 50%;
	font-size: 25px;
	top: 25%;
}
.inputp{
	position: absolute;
	transform: translate(-50%,-50%);
	left: 50%;
	width: 230px;
	padding: 15px 20px;
	top: 50%;
	color: black;
	border: none;
	border-radius: 10px;
	z-index: 2;
}
.buttonp{
	position: absolute;
	transform: translate(-50%,-50%);
	left: 50%;
	width: 100px;
	height: 50px;
	padding: 10px 0;
	top: 67%;
	color: white;
	border: none;
	border-radius: 10px;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.8);
}
/*main*/
.main{
	position: absolute;
	transform: translate(-50%,-50%);
	top: -200%;
	left: 50%;
	width: 400px;
	height: 585px;
	background-color: red;
}
