*{
	padding: 0;
	margin: 0;
	font-family: Arial;
	color: white;
	background-size: cover;
	font-weight: 700;
}
body{
	background-image: url('https://img.upanh.tv/2022/06/15/img1.jpg');
	background-size: cover;
}
/*open*/
.open{
	position: absolute;
	transform: translate(-50%,-50%);top: 50%;left: 50%;
	width: 50px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	border: 2px solid #06FF00;
	font-size: 20px;
}
/*pass*/
.formpass{
	position: absolute;
	transform: translate(-50%,-50%);
	top: -200%;
	left: 50%;
	width: 350px;
	height: 200px;
	border-radius: 10px;
	border: 2px solid #06FF00;
	background-color: rgba(0, 0, 0, 0.6);
}
.textp{
	position: absolute;
	transform: translate(-50%,-50%);
	left: 50%;
	font-size: 25px;
	top: 25%;
}
.inputp{
	position: absolute;
	transform: translate(-50%,-50%);
	left: 50%;
	width: 230px;
	padding: 15px 20px;
	top: 50%;
	color: black;
	border: none;
	border-radius: 10px;
	z-index: 2;
}
.buttonp{
	position: absolute;
	transform: translate(-50%,-50%);
	left: 50%;
	width: 100px;
	height: 50px;
	padding: 10px 0;
	top: 67%;
	color: white;
	border: none;
	border-radius: 10px;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.8);
}
/*main*/
.main{
	position: absolute;
	transform: translate(-50%,-50%);
	top: -200%;
	left: 50%;
	width: 350px;
	height: 500px;
	background-image: url(bg.jpg);
}
/*in4*/
.in4{
	top: 100%;
	left: 50%;
	transform: translate(-50%,-100%);
	position: absolute;
	width: 350px;
	height: 125px;
	background-color: 	#F5F5DC;
	z-index: 4;
}
.nam{
	top: 30%;
	position: absolute;
	width: 175px;
	transform: translate(-50%,-50%);
	left: 25%;
	height: 150px;
}
.nữ{
	top: 30%;
	position: absolute;
	width: 175px;
	transform: translate(-50%,-50%);
	left: 75%;
	height: 150px;
}
.logo{
	border: 3px solid white;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	width: 75px;
	height: 75px;
	border-radius: 50%;
}
.tuoi{
	background-color: purple;
}
.cung{
	background-color: rgba(255, 0, 80, 1);
}
.Ten{
	color: black;
	font-size: 15px;
}
#cungtuoi{
	font-size: 10px;
	padding: 5px;
	border-radius: 50px;
}.mainten{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 57%;
}
.maincungtuoi1{
	width: 100px;
	transform: translateX(-50%);
	position: absolute;
	left: 57%;
	top: 75%;
}
.maincungtuoi2{
	width: 100px;
	transform: translateX(-50%);
	position: absolute;
	left: 52%;
	top: 75%;
}
#heart{
	display: none;
}
#wrapper{
	position: absolute;
	left: 28.5%;
}
.alll{
	position: relative;
	left: 46%;
	top: 60%;
	transform: translateX(-50%);
}
.chu{
	font-size: 20px;
	color: white;
	font-size: 900;
}
#tym{
	font-size: 170px;
	color: rgba(255, 0, 80, 0.8);
}
.maintym{
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
	top: -120%;
}